// Import CoreUI
@use "@coreui/coreui/scss/coreui";

.wrapper {
    width: 100%;
    -webkit-padding-start: var(--cui-sidebar-occupy-start, 0);
    padding-inline-start:var(--cui-sidebar-occupy-start, 0);
    will-change:auto;
    transition:padding .15s;
}

.btn + .btn,
.btn + form .btn,
form .btn + .btn,
form .btn + form .btn {
    margin-inline-start: 0.4rem;
}
